<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Local Bartender</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/css/swiper.min.css">
 


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="img/logo.jpg" height="50">
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MY LOCAL BARTENDER</h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-android fa-fw"></i> <span class="network-name">Android</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-apple fa-fw"></i> <span class="network-name">iOS</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

        <div class="swiper-above">
            <a  name="contact"></a>

                <div class="row"><h1></h1>
                </div>
                <div class="row"><h1></h1>
                </div>
    <a  name="services"></a>

            <div class="row">
                <div class="col-lg-12">
                    <h5>Click below to find out</h5>
                </div>
            </div>

        </div>
   <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide0h1">What does My Local Bartender do?</h1>
                <h4 id="slide0h3">My Local Bartender is a platform that will connect cocktail mixologists, bartenders and general bar staff with people looking to hire them for work or private events.</h4>
            </div>
            

            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide1h1">How does it work?</h1>
                <h4 id="slide1h3">Customers will be able to put up ads for events and search bartenders, bartenders will be able to offer their services privately to a large range of customers.</h4>
            </div>


            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide2h1">How much does it cost to join MLB?</h1>
                <h4 id="slide2h3">It's Free to join as both a bar professional or a customer and there are no subscription fees. MLB will take a small fee when a bar professional is hired for work or an event.</h4>

            </div>

            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide3h1">What kind of events can bartenders work at?</h1>
                <h4 id="slide3h3">Anywhere where alcohol's appropriate (or at least present). Parties, weddings, private gatherings, corporate functions, even cover for bar staff at venues, bars, restaurants etc.</h4>

            </div>


            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide4h1">How does MLB work for Bartenders and Mixologists?</h1>
                <h4 id="slide4h3">Sign up free to My Local Bartender and create a profile detailing your skills and experience. Your full profile will only be visible to customers signed into the site looking to hire a bar professional. You'll be able to search ads and offer your services to customers at a rate of your choosing.</h4>

            </div>


            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide5h1">How does MLB work for people looking for bartenders?</h1>
                <h4 id="slide5h3">Sign up free to My Local Bartender and create a simple profile. You can then create adverts for the events you need bartenders for and be able search through our bar professional database. You'll be able to contact bartenders through MLB for your work or events.</h4>
            </div>

            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide6h1">How will it logistically work?</h1>
                <h4 id="slide6h3">When a customer and bartender agree on an event, the rate the customer pays will be calculated using the bartenders hourly rate, the estimate duration of the event and MLB's fee; a small percentage added onto the total. The customer will pay the amount before the event, which is released to the bartender after the event has taken place.</h4>

            </div>

            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide7h1">I'm a bar professional, will I have to bring my own kit?</h1>
                <h4 id="slide7h3">The customer will specify beforehand what you'll need to bring with you. If they require you to supply mixing equipment, glasses, alcohol and anything else needed for the job, you'll be able to factor these costs into your rate for the job, which the customer will be informed beforehand of.</h4>
            </div>


            <div class="swiper-slide" style="background-image:url(http://bit.ly/2mRMmQ6)">
                <h1 id="slide8h1">Whats My Local Bartenders story?</h1>
                <h4 id="slide8h3">MLB is envisaged by Rajeet Singh. Rajeet started mixing cocktails as a hobby which quickly turned into an obsession. He was mixing any chance he got; at parties, dinners, soon he was offering his mixing services to friends and others, but he couldn't find anywhere online to connect to more people for cocktail based events, and so My Local Bartender was born.</h4>

            </div>
            
        </div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>





        <!-- /.container -->

    </div>

    <a  name="contact"></a>

        <div class="contact">

            <div class="row">
                <div class="col-lg-12">
                    <h3>Contact</h2>
                </div>
                <div class="col-lg-12">
                <h5>enquiries@mylocalbartender.com</h5>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            
            <p class="copyright text-muted small">Copyright &copy; MLB 2016. All Rights Reserved</p>
            
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/js/swiper.jquery.min.js"></script>


    <script src="js/script.js"></script>


</body>

</html>
